@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.header {
  background-color: white !important;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.navbar {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;
  font-family: "Nunito", sans-serif;
}

svg {
  vertical-align: baseline;
}

.footer {
  text-align: center;
}

.basic-layout {
  min-height: 100vh !important;
  font-family: "Nunito", sans-serif;
}

.card-container {
  margin: 20px;
  font-family: "Nunito", sans-serif;
}